.container-main {
    height: 100vh;
    width: 100vh;
    text-align: center;
    margin: auto;
}

.headline-box {
    border-bottom: dotted;
    background-color: white;
    width: 645px;
    margin: auto;
}

.headline-etc-box {
    font-size: 0px;
}

.date-time {
    display: inline-block;
    width: 15%; 
    font-size: 16px;
    text-align: right;

}

.likes {
    display: inline-block;
    width: 85%;
    font-size: 16px;
    color: #BD88FC;
    text-align: left

}

.headline {
    font-size: 32px;
    text-align: center;
    margin: 40px;
    width: 645px;
}


.dropdown-box {
    font-size: 0;
    width: 645px;
    margin: auto;
}

.dropdown {
    display: inline-block;
    width: 85%;
    font-size: 30px;
    text-align: left;
    background-color: white;
    height: 116px;
}

.button {
    display: inline-block;
    width: 15%;
    font-size: 30px;
    text-align: center;
    background-color: #B77DFD;
    height: 116px;
}

.list-box {
    background-color: #B77DFD;
    font-size: 0; 
    width: 645px;
    margin: auto;
}
.date-box {
    display: inline-block;
    width: 30%;
    font-size: 16px;
    text-align: center;
    padding: 40px 0px;
}

.list-box .desc {
    display: inline-block;
    width: 70%;
    font-size: 16px;
}
.list-box2 {
    font-size: 0; 
    width: 645px;
    margin: auto;
    background-color: #C8A3F8;
}

.list-box2 .desc {
    display: inline-block;
    width: 70%;
    font-size: 16px;
}

.contents-box {
    display: block;
    background-color: #1D1724;
    
}

.backgroundcolor {
    background-color: #433B4F;
}

.image {
    display: inline-block;
    margin: auto;
}