.main-heading {
    font-family: 'Pacifico';
    color: rgba(255, 255, 255, 0.87);
    background-color: #433B4F;
    margin: 0px;
}
.container-main {
    text-align: center;
    margin: auto;
    width: 645px;
    border: thin;
    background-color: white;
}

.headline-box {
    border-bottom: dotted;
    border-width: thin;
    background-color: white;
    margin: auto;
}

.headline-etc-box {
    font-size: 0px;
}

.date-time {
    display: inline-block;
    width: 15%; 
    font-size: 16px;
    text-align: right;
}

.likes {
    display: inline-block;
    width: 85%;
    font-size: 16px;
    color: #BD88FC;
    text-align: left
}

.headline {
    font-size: 28px;
    text-align: center;
    margin: 40px;
    font-family: 'Ubuntu', sans-serif;
}


.dropdown-box {
    display: flex;
}

.dropdown {
    width: 80%;
    font-size: 30px;
    text-align: left;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 40px;
}

.button {
    flex-grow: 1;
    width: 20%;
    font-size: 100px;
    text-align: center;
    color: white;
    background-color: #B77DFD;
    font-family: 'Ubuntu', sans-serif;
}

.list-box {
    background-color: #B77DFD;
    font-size: 0; 
}
.date-box {
    display: inline-block;
    width: 30%;
    font-size: 16px;
    text-align: center;
    padding: 40px 0px;
    color: white;
}

.list-box .desc {
    display: inline-block;
    width: 70%;
    font-size: 16px;
    margin: 0px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
}

.list-box2 {
    font-size: 0; 
    background-color: #C8A3F8;
}

.list-box2 .desc {
    display: inline-block;
    width: 70%;
    font-size: 16px;
    margin: 0px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
}

.contents-box {
    font-size: 0;
    display: flex;
    background-color: #1D1724;   
    height: 180px;
    
}

.backgroundcolor {
    background-color: #433B4F;
}

.image {
    font-size: 0px;
    display: inline-block;
}

.end-contents {
    font-size: 20px;
    text-align: center;
    margin: 0px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.day {
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
}
.month {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}